<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

span {font-size : 30px;}
#span1 {background :red; float: left;}
#span2 {background :green; float:right;}
#span3 {background :blue;}

div{
	border: 1px solid #ccc;
	text-align: center;
}




</style>
</head>
<body>



<span id= "span1"> SPAN1 </span>
<span id= "span2"> SPAN2 </span>
<span id= "span3"> SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3 </span>

<div>asdf</div>

</body>
</html>