<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style type="text/css">

	span{
		border : 1px solid red;
		
		line-height: 2.5em;
	}


</style>

</head>

<body>
<div>

	<span>SPAN1</span>
	<span>SPAN2</span>
	<span>SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3SPAN3</span>
	<span>SPAN1</span>
	<span>바로 피가 광야에서 것이다. 되려니와, 같이, 놀이 그들은 피어나는 능히 보라. 이 주며, 두손을 전인 황금시대다. 바이며, 우는 하는 발휘하기 넣는 인도하겠다는 생명을 풍부하게 구하지 봄바람이다. 굳세게 이상의 있음으로써 맺어, 곧 위하여서 열락의 안고, 충분히 이것이다. 작고 군영과 시들어 피어나기 인간의 거선의 불어 천지는 듣는다. 꾸며 꽃이 뭇 인생에 때문이다. 때에, 영락과 같이, 끓는 청춘의 풍부하게 불어 우리 이것이다. 얼음에 자신과 같은 바이며, 능히 소담스러운 실현에 풀이 것이다.</span>

</div>

</body>
</html>