<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div { width:200px; height: 100px;}
#div1{ border: 1px solid red; float: left;}
#div2{ border: 1px solid green;  float : right;}
#div3{ border: 3px solid blue; margin: auto; }

/* .clearfix{ clear:both; width: 0; height: 0;} */



</style>
</head>
<body>

<div id = "div1" > DIV1</div>
<div id = "div2" > DIV2</div>

 <div class = "clearfix"> clearfix </div>

<div id = "div3"  > DIV3</div>

</body>
</html>