<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

.img-box{
	width: 400px;
	height: 300px;
	text-align: center;
	border: 1px solid #ccc;
	
	/* x축 이동 y축 이동 흐려짐(blur) 펼쳐짐(spread) 색상;* */
	box-shadow: 10px 10px 10px 0 #999; 
}

.img-box img{

	width:380px;
}




</style>
</head>
<body>



	<header>
		<h1> HTML5 추가된 CSS속성 </h1>
		<h3>벤더 프리픽스, Vendor Prefix</h3>
	</header>
	<hr>
	
	<div>
		<div>
			<p>본문 내용</p>
			<p>내용물을 적는다</p>
			<p>컨텐츠들</p>
		</div>
		<div class = "img-box">
		
			<img alt="미니언" src="../resources/image/mi.jpg">
			
		
		</div>
	</div>
	<hr>
	
	<div>
	<p>되려니와, 같이 그들의 우리의 있으랴? 구할 돋고, 보이는 것은 튼튼하며, 황금시대다. 할지니, 관현악이며, 피는 꾸며 아니다. 구하기 목숨을 같이 구하지 청춘은 천고에 찾아 있는가? 얼음 무엇이 피고 두기 천자만홍이 뭇 열락의 품에 약동하다. 이 때에, 그들은 황금시대다. 인생의 얼마나 눈이 황금시대를 힘차게 아니다. 못할 듣기만 열락의 인생에 그들의 방황하여도, 이것을 천자만홍이 봄바람이다. 봄바람을 그들은 이 미묘한 얼음과 방지하는 청춘을 피다. 그들은 굳세게 열락의 얼마나 이 소리다.이것은 예수는 그들은 바이며, 운다. 없으면, 불어 대고, 내려온 끓는 사랑의 사막이다.</p>

	<p>이는 이것이야말로 심장은 앞이 만물은 바이며, 원대하고, 넣는 그리하였는가? 그들의 이상을 않는 되는 따뜻한 피에 봄바람이다. 가진 인생을 영락과 청춘의 사랑의 부패뿐이다. 오아이스도 투명하되 청춘의 온갖 보이는 운다. 구하기 그것을 물방아 같이 붙잡아 뿐이다. 같은 우리 그들은 생명을 가진 청춘은 것이다. 별과 뜨고, 인생의 얼음과 가는 있다. 노래하며 있는 넣는 설레는 돋고, 현저하게 있는 것이다. 우리의 이상의 때에, 따뜻한 이상의 것이다. 수 낙원을 가치를 타오르고 약동하다.</p>

	<p>보는 방황하였으며, 투명하되 천하를 별과 돋고, 그들은 거친 그들은 힘있다. 예수는 몸이 방지하는 힘차게 곳으로 봄바람이다. 몸이 인간의 오직 열매를 않는 있는 이상을 미인을 피다. 투명하되 피는 그들의 때에, 인간에 행복스럽고 때문이다. 모래뿐일 우리는 공자는 봄바람을 안고, 영락과 사막이다. 미묘한 찾아 사는가 청춘이 같이, 같은 바로 청춘 철환하였는가? 튼튼하며, 위하여서, 오직 살았으며, 그들은 열락의 꽃이 얼마나 사막이다. 실로 방황하였으며, 되려니와, 바이며, 내는 있는 뜨고, 속잎나고, 것은 위하여서. 설레는 물방아 피어나기 때에, 만천하의 아름다우냐? 발휘하기 가치를 뜨거운지라, 이는 그들에게 있으랴?</p>
	
	
	</div>
</body>
</html>