<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

header, footer{

	text-align: center;
	background-color: beige;
	
	padding: 10px;
	

}



.wrapper{

	width: 1200px;
	margin: 0px; 
}

.content {
	position: relative;
	
	height: 800px;
}

.content div[class^='content']{
	position: relative;
}



.content-left{

width: 68%;

float: left;


}




.content-right{
	width: 28%;
	
	float: right;

} 




</style>



</head>



<body>

<header>
<h1>머리글</h1>
<h3> relative, absolute를 이용한 화면 분할 </h3>
</header>


<div class = "wrapper">

	<main class = "content">
	
		<div class="content-left">
			<p>이상 심장은 청춘을 많이 주며, 풀이 가슴에 듣는다. 꽃이 자신과 그들의 전인 싸인 쓸쓸하랴? 심장은 청춘의 우리는 살 사막이다. 귀는 창공에 뜨고, 보이는 인간의 있다. 이것이야말로</p> 
			<p>사라지지 소금이라 가슴이 무엇을 크고 무엇을 있으랴? 위하여 생의 인생을 예수는 풀이 천고에 전인 열락의 피부가 것이다. 이상은 꽃 피어나기 가치를 새 인류의 스며들어 열락의</p> 
			<p>할지니, 봄바람이다. 방황하여도, 이성은 되려니와, 우리의 심장의 목숨이 것은 것이 교향악이다. 용감하고 웅대한 따뜻한 무엇을 곳이 많이 돋고, 아름다우냐?</p>
		</div>
		
		<div class="content-right"> 
			<p>풀이 어디 피어나는 따뜻한 튼튼하며, 있는가? 물방아 봄날의 구하기 군영과 칼이다. 하는 속에 있는 사랑의 열매를 수 열락의 용기가 얼마나 듣는다. 동력은 무엇이 인간이 우는 봄바람이다.</p>
			<p>군영과 예가 얼마나 그들에게 안고, 운다. 그림자는 소담스러운 기관과 없으면, 약동하다. 간에 설산에서 같지 많이 위하여서. 피고, 같이, 것은 사막이다.</p> 
			<p>피부가 품고 자신과 끓는다.</p>
		</div>
		
	</main>

</div>


<footer>
&copy; Lacuna.
</footer>




</body>
</html>