<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div{

	border : 1px solid #ccc;
	
	float: right;

}

img{
 border : 1px solid #ccc;
 
 width : 300px;
 height: 200px;
 
 float: left;
}

p{
float : none;

}


</style>
</head>
<body>

<h1>레이아웃 흐름 속성</h1>

<h3>float</h3>
<hr>




<div> div1</div>
<div> div2</div>
<div> div3</div>
<div> div4</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>
<div> div5</div>

<img alt="미니언" src = "../resources/image/mi.jpg"> 

<p>새가 만물은 그것은 속에 보이는



것은 수 청춘은		 인생에 봄바람이다.<br>

위하여 이상의 안고,     이 운다. 돋고,




역사를 황금시대의 풀이 되는 가지에 할지니</p>


</body>
</html>